body {
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/180614121226-peaks-of-europe-tease-2.jpg?q=w_2317,h_1303,x_0,y_0,c_fill");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: 0 auto;
    color: aliceblue ;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  #question-container {
    margin-bottom: 20px;
  }